<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/book.css">
    </head>
<body>
<form action="/login" method='POST'>
<p></p>
Username: <input type="text" name="userid" value="">
Password: <input type="password" name="password" id="password" value="">
<input type="checkbox" onclick="myFunction()">Show Password<br>
<input type="submit"/>
</form>
<h1>{{tryhard}}</h1>


<script>
function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

</body>
</html>
